{% extends "base.html" %}
{% block content %}

<style>
    #lay {
        background-image: url('/static/images/timg2.jpg');
        background-repeat: no-repeat;
        /* background-size: 100% 100%; */
        position: absolute;
        height: 722px;
        width: 1500px;
        left: 80px;
        top: 80px;
    }
</style>
<div id="app">
    <div id='lay'>

    </div>
    <!-- 底盘四 -->

    <div v-for='i in status' :class="{C4T1red:(i.team=='T1' && i.worksection=='1C4' && i.team_status=='red'),
        C4T1yellow:(i.team=='T1' && i.worksection=='1C4' && i.team_status=='yellow'),
        C4T1grren:(i.team=='T1' && i.worksection=='1C4' && i.team_status=='green') }">
    </div>

    <div v-for='i in status' :class="{C4T2red:(i.team=='T2' && i.worksection=='1C4' && i.team_status=='red'),
    C4T2yellow:(i.team=='T2' && i.worksection=='1C4' && i.team_status=='yellow'),
    C4T2grren:(i.team=='T2' && i.worksection=='1C4' && i.team_status=='green') }">
    </div>

    <div v-for='i in status' :class="{C4T3red:(i.team=='T3' && i.worksection=='1C4' && i.team_status=='red'),
    C4T3yellow:(i.team=='T3' && i.worksection=='1C4' && i.team_status=='yellow'),
    C4T3grren:(i.team=='T3' && i.worksection=='1C4' && i.team_status=='green') }">
    </div>

    <div v-for='i in status' :class="{C4T4red:(i.team=='T4' && i.worksection=='1C4' && i.team_status=='red'),
    C4T4yellow:(i.team=='T4' && i.worksection=='1C4' && i.team_status=='yellow'),
    C4T4grren:(i.team=='T4' && i.worksection=='1C4' && i.team_status=='green') }">
    </div>

    <div v-for='i in status' :class="{C4T5red:(i.team=='T5' && i.worksection=='1C4' && i.team_status=='red'),
    C4T5yellow:(i.team=='T5' && i.worksection=='1C4' && i.team_status=='yellow'),
    C4T5grren:(i.team=='T5' && i.worksection=='1C4' && i.team_status=='green') }">
    </div>






</div>

</div>

<script>
    $(document).ready(function () {
        var app = new Vue({
            el: '#app',
            data: {
                status: '',
                green: false,
                display: 'true',
            },
            created() {

                setInterval(function () {
                    $.ajax({
                        url: '/layout_res_api/',
                        data: {

                        },
                        dataType: 'json',
                        type: 'post',
                        success: function (res) {
                            console.log(res.res);
                            app.status = res.res;


                        },
                        error: function (xhr, type, errorThrown) {
                            console.log(type)
                        }


                    });
                }, 2000)
                setInterval(function () {
                    //left=200px(原始位置)-width/2
                    //top=200px(原始位置)-height/2
                    //内饰一T1班组

                    $(".T1T1").animate({
                        width: "40px",
                        height: "40px",
                        left: "1350px",
                        top: "345px",
                        opacity: 0.5

                    }, 500);
                    $(".T1T1").animate({
                        width: "12px",
                        height: "12px",
                        left: "1352.5px",
                        top: "350px",
                        opacity: 0.5,

                    }, 500);

                    //底盘四T1班组

                    $(".C4T1red").animate({
                        width: "40px",
                        height: "40px",
                        left: "510px",
                        top: "76px",
                        opacity: 0.5

                    }, 500);
                    $(".C4T1red").animate({
                        width: "12px",
                        height: "12px",
                        left: "524px",
                        top: "90px",
                        opacity: 0.5,

                    }, 500);

                    $(".C4T1yellow").animate({
                        width: "40px",
                        height: "40px",
                        left: "510px",
                        top: "76px",
                        opacity: 0.5

                    }, 500);
                    $(".C4T1yellow").animate({
                        width: "12px",
                        height: "12px",
                        left: "524px",
                        top: "90px",
                        opacity: 0.5,

                    }, 500);

                    //底盘四T2班组
                    $(".C4T2red").animate({
                        width: "40px",
                        height: "40px",
                        left: "610px",
                        top: "76px",
                        opacity: 0.5

                    }, 500);
                    $(".C4T2red").animate({
                        width: "12px",
                        height: "12px",
                        left: "624px",
                        top: "90px",
                        opacity: 0.5,

                    }, 500);

                    $(".C4T2yellow").animate({
                        width: "40px",
                        height: "40px",
                        left: "610px",
                        top: "76px",
                        opacity: 0.5

                    }, 500);
                    $(".C4T2yellow").animate({
                        width: "12px",
                        height: "12px",
                        left: "624px",
                        top: "90px",
                        opacity: 0.5,

                    }, 500);



                    //底盘四T3班组
                    $(".C4T3red").animate({
                        width: "40px",
                        height: "40px",
                        left: "710px",
                        top: "76px",
                        opacity: 0.5

                    }, 500);
                    $(".C4T3red").animate({
                        width: "12px",
                        height: "12px",
                        left: "724px",
                        top: "90px",
                        opacity: 0.5,

                    }, 500);

                    $(".C4T3yellow").animate({
                        width: "40px",
                        height: "40px",
                        left: "710px",
                        top: "76px",
                        opacity: 0.5

                    }, 500);
                    $(".C4T3yellow").animate({
                        width: "12px",
                        height: "12px",
                        left: "724px",
                        top: "90px",
                        opacity: 0.5,

                    }, 500);

                    //底盘四T4班组
                    $(".C4T4red").animate({
                        width: "40px",
                        height: "40px",
                        left: "810px",
                        top: "76px",
                        opacity: 0.5

                    }, 500);
                    $(".C4T4red").animate({
                        width: "12px",
                        height: "12px",
                        left: "824px",
                        top: "90px",
                        opacity: 0.5,

                    }, 500);

                    $(".C4T4yellow").animate({
                        width: "40px",
                        height: "40px",
                        left: "810px",
                        top: "76px",
                        opacity: 0.5

                    }, 500);
                    $(".C4T4yellow").animate({
                        width: "12px",
                        height: "12px",
                        left: "824px",
                        top: "90px",
                        opacity: 0.5,

                    }, 500);

                    //底盘四T5班组
                    $(".C4T5red").animate({
                        width: "40px",
                        height: "40px",
                        left: "910px",
                        top: "76px",
                        opacity: 0.5

                    }, 500);
                    $(".C4T5red").animate({
                        width: "12px",
                        height: "12px",
                        left: "924px",
                        top: "90px",
                        opacity: 0.5,

                    }, 500);

                    $(".C4T5yellow").animate({
                        width: "40px",
                        height: "40px",
                        left: "910px",
                        top: "76px",
                        opacity: 0.5

                    }, 500);
                    $(".C4T5yellow").animate({
                        width: "12px",
                        height: "12px",
                        left: "924px",
                        top: "90px",
                        opacity: 0.5,

                    }, 500);













                }, 1000);

            },

        })
    });
</script>
















{% endblock %}