{% extends "base.html" %}

<body>
  {% block content %}

  <div class="demoTable">
    车间：
    <div class="layui-inline">
      <input class="layui-input" name="id" id="demoReload1" autocomplete="off">
    </div>
    工段：
    <div class="layui-inline">
      <input class="layui-input" name="id" id="demoReload2" autocomplete="off">
    </div>
    班组：
    <div class="layui-inline">
      <input class="layui-input" name="id" id="demoReload3" autocomplete="off">
    </div>
    层级：
    <div class="layui-inline">
      <input class="layui-input" name="id" id="demoReload4" autocomplete="off">
    </div>
    班次：
    <div class="layui-inline">
      <input class="layui-input" name="id" id="demoReload5" autocomplete="off">
    </div>
    工位：
    <div class="layui-inline">
      <input class="layui-input" name="id" id="demoReload6" autocomplete="off">
    </div>
    <br><br>
    计划：
    <div class="layui-inline">
      <input class="layui-input" name="id" id="demoReload7" autocomplete="off" placeholder="YYYY-MM-DD">
    </div>
    结果：
    <div class="layui-inline">
      <input class="layui-input" name="id" id="demoReload8" autocomplete="off" >
    </div>
    用户：
    <div class="layui-inline">
      <input class="layui-input" name="id" id="demoReload9" autocomplete="off" >
    </div>
    姓名：
    <div class="layui-inline">
      <input class="layui-input" name="id" id="demoReload10" autocomplete="off" >
    </div>
    <button class="layui-btn" data-type="reload">搜索</button>
  </div>


  <table class="layui-hide" id="test" lay-filter="test"></table>

  <script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
      <!-- <button class="layui-btn layui-btn-sm" lay-event="getCheckData">批量删除</button> -->
      <!-- <button class="layui-btn layui-btn-sm" lay-event="add">新增数据</button> -->
      <!-- <button class="layui-btn layui-btn-sm" lay-event="getCheckLength">获取选中数目</button>
      <button class="layui-btn layui-btn-sm" lay-event="isAll">验证是否全选</button> -->
    </div>
  </script>

  <script type="text/html" id="barDemo">
    <!-- <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a> -->
  <!-- <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a> -->
  </script>


  <script>
    layui.use(['table', 'laydate'], function () {
      var $ = layui.jquery
      var table = layui.table;
      var laydate = layui.laydate;
      laydate.render({
        elem: '#demoReload7'
      });

      table.render({
        elem: '#test',
        url: '/record_api/',
        toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
          ,
        defaultToolbar: ['filter', 'exports', 'print', { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
          title: '提示',
          layEvent: 'LAYTABLE_TIPS',
          icon: 'layui-icon-tips'
        }],
        title: '用户数据表',
        cols: [
          [{
            type: 'checkbox',
            fixed: 'left'
          }, {
            field: 'id',
            title: 'ID',
            width: 50,
            hide: true,
            unresize: true,
            sort: true
          }, {

            title: '序号',
            width: 80,
            type: 'numbers',
            unresize: true,
            sort: true
          }, {
            field: 'workshop',
            title: '车间',
            sort: true
          }, {
            field: 'worksection',
            title: '工段',
            sort: true
          }, {
            field: 'team',
            title: '班组',
            sort: true
          }, {
            field: 'level',
            title: '层级',
            sort: true
          }, {
            field: 'shift',
            title: '班次',
            sort: true
          }, {
            field: 'uloc',
            title: '工位',
            sort: true
          }, {
            field: 'date',
            title: '计划点检日',
            sort: true
          }, {
            field: 'title',
            title: '检查项',
            sort: true
          }, {
            field: 'res',
            title: '检查结果',
            sort: true
          }, {
            reason: 'reason',
            title: 'NOK原因',
            sort: true
          }, {
            field: 'res_time',
            title: '实际检查日',
            sort: true
          }, {
            field: 'username',
            title: '用户名',
            sort: true
          }, {
            field: 'name',
            title: '姓名',
            sort: true
          }, ]
        ],
        page: true,
        limit: 15,
        limits: [20, 40, 60, 100],
        even: true,
        id: 'testReload',
        size: 'sm',
      });

      //查询重载
    var $ = layui.$,
      active = {
        reload: function () {
          var workshop = $('#demoReload1');
          var worksection = $('#demoReload2');
          var team = $('#demoReload3');
          var level = $('#demoReload4');
          var shift = $('#demoReload5');
          var uloc = $('#demoReload6');
          var date = $('#demoReload7');
          var res = $('#demoReload8');
          var username = $('#demoReload9');
          var name = $('#demoReload10');
          //执行重载
          table.reload('testReload', {
            page: {
              curr: 1 //重新从第 1 页开始
            },
            where: {
              workshop: workshop.val(),
              worksection: worksection.val(),
              team: team.val(),
              level: level.val(),
              shift: shift.val(),
              uloc: uloc.val(),
              date: date.val(),
              res:res.val(),
              username:username.val(),
              name:name.val(),

            }
          }, 'data');
        }
      };

      $('.demoTable .layui-btn').on('click', function () {
        var type = $(this).data('type');
        active[type] ? active[type].call(this) : '';
      });

      //头工具栏事件
      table.on('toolbar(test)', function (obj) {
        var checkStatus = table.checkStatus(obj.config.id);
        switch (obj.event) {
          case 'getCheckData':
            var data = checkStatus.data;
            layer.confirm('是否确认删除', function (index) {
              $.ajax({
                url: "/index_delete_api/",
                type: "POST",
                data: {
                  data: JSON.stringify(data)
                }
              })

              layer.close(index)
            })
            break;
          case 'getCheckLength':
            var data = checkStatus.data;
            layer.msg('选中了：' + data.length + ' 个');
            break;
          case 'isAll':
            layer.msg(checkStatus.isAll ? '全选' : '未全选');
            break;

            //自定义头工具栏右侧图标 - 提示
          case 'LAYTABLE_TIPS':
            layer.alert('这是工具栏右侧自定义的一个图标按钮');
            break;
          case 'add':
            layer.open({
              type: 1,
              title: "新增数据",
              area: ['600px', '600px'],
              content: $("#adddate"),

            });
        };
      });

      //监听行工具事件
      table.on('tool(test)', function (obj) {
        var data = obj.data;
        //console.log(obj)
        if (obj.event === 'del') {
          layer.confirm('是否确认删除', function (index) {
            $.ajax({
              url: "/index_delete_api/",
              type: "POST",
              data: {
                id: data.id
              }
            });

            obj.del();
            layer.close(index);
          });
        } else if (obj.event === 'edit') {
          layer.open({
            type: 1,
            title: "编辑数据",
            area: ['600px', '600px'],
            content: $("#popUpdateTest"),


          });
          // 打开表单并赋值
          
        }
      });
    });
  </script>



  <!-- 编辑数据 -->
  <div class="layui-row" id="popUpdateTest" style="display:none;">


    <form class="layui-form" action="/update/" method="POST" lay-filter="example">

      <div class="layui-form-item" style="display: none">

        <label class="layui-form-label">ID:</label>

        <div class="layui-input-block">
          <input type="text" name="id" lay-verify="title" autocomplete="off" class="layui-input">
        </div>
      </div>


      <div class="layui-form-item">
        <label class="layui-form-label">工号:</label>

        <div class="layui-input-block">
          <input type="text" name="psnnumber_id" lay-verify="title" autocomplete="off" placeholder="请输入"
            class="layui-input">
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">姓名</label>
        <div class="layui-input-block">
          <input type="text" name="name" placeholder="请输入" autocomplete="off" class="layui-input">
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">工段</label>
        <div class="layui-input-block">
          <input type="text" name="Worksection" placeholder="请输入" autocomplete="off" class="layui-input">
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">操作岗位</label>
        <div class="layui-input-block">
          <input type="text" name="uloc" placeholder="请输入" autocomplete="off" class="layui-input">
        </div>
      </div>

      <div class="layui-form-item">
        <div class="layui-inline"></div>
        <label class="layui-form-label">入职时间</label>
        <div class="layui-input-inline">
          <input type="text" class="layui-input" id="test1" placeholder="yyyy-MM-dd" name="in_time">
        </div>
      </div>





      <div class="layui-form-item">
        <label class="layui-form-label">是否在职</label>
        <div class="layui-input-block">
          <select name="interest" lay-filter="aihao">
            <option value="1">在职</option>
            <option value="0">离职</option>
          </select>
        </div>
      </div>


      <div class="layui-form-item">
        <div class="layui-inline"></div>
        <label class="layui-form-label">3/4完成时间</label>
        <div class="layui-input-inline">
          <input type="text" class="layui-input" id="test2" placeholder="yyyy-MM-dd" name="three_finish_time">
        </div>
      </div>


      <div class="layui-form-item">
        <div class="layui-inline"></div>
        <label class="layui-form-label">4/4培训时间</label>
        <div class="layui-input-inline">
          <input type="text" class="layui-input" id="test3" placeholder="yyyy-MM-dd" name="four_train_time">
        </div>
      </div>


      <div class="layui-form-item">
        <div class="layui-inline"></div>
        <label class="layui-form-label">4/4完成时间</label>
        <div class="layui-input-inline">
          <input type="text" class="layui-input" id="test4" placeholder="yyyy-MM-dd" name="four_finish_time">
        </div>
      </div>




      <div class="layui-form-item">
        <div class="layui-input-block">
          <button class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
        </div>
      </div>
    </form>
  </div>

  <!-- 新增数据 -->
  <div class="layui-row" id="adddate" style="display:none;">


    <form class="layui-form" action="/add/" method="POST" lay-filter="example">




      <div class="layui-form-item">
        <label class="layui-form-label">工号:</label>

        <div class="layui-input-block">
          <input type="text" name="psnnumber_id" lay-verify="title" autocomplete="off" placeholder="请输入"
            class="layui-input">
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">姓名</label>
        <div class="layui-input-block">
          <input type="text" name="name" placeholder="请输入" autocomplete="off" class="layui-input">
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">工段</label>
        <div class="layui-input-block">
          <input type="text" name="Worksection" placeholder="请输入" autocomplete="off" class="layui-input">
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">操作岗位</label>
        <div class="layui-input-block">
          <input type="text" name="uloc" placeholder="请输入" autocomplete="off" class="layui-input">
        </div>
      </div>

      <div class="layui-form-item">
        <div class="layui-inline"></div>
        <label class="layui-form-label">入职时间</label>
        <div class="layui-input-inline">
          <input type="text" class="layui-input" id="test5" placeholder="yyyy-MM-dd" name="in_time">
        </div>
      </div>





      <div class="layui-form-item">
        <label class="layui-form-label">是否在职</label>
        <div class="layui-input-block">
          <select name="interest" lay-filter="aihao">
            <option value="1">在职</option>
            <option value="0">离职</option>
          </select>
        </div>
      </div>


      <div class="layui-form-item">
        <div class="layui-inline"></div>
        <label class="layui-form-label">3/4完成时间</label>
        <div class="layui-input-inline">
          <input type="text" class="layui-input" id="test6" placeholder="yyyy-MM-dd" name="three_finish_time">
        </div>
      </div>


      <div class="layui-form-item">
        <div class="layui-inline"></div>
        <label class="layui-form-label">4/4培训时间</label>
        <div class="layui-input-inline">
          <input type="text" class="layui-input" id="test7" placeholder="yyyy-MM-dd" name="four_train_time">
        </div>
      </div>


      <div class="layui-form-item">
        <div class="layui-inline"></div>
        <label class="layui-form-label">4/4完成时间</label>
        <div class="layui-input-inline">
          <input type="text" class="layui-input" id="test8" placeholder="yyyy-MM-dd" name="four_finish_time">
        </div>
      </div>

      <div class="layui-form-item">
        <div class="layui-input-block">
          <button class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
        </div>
      </div>
    </form>
  </div>











  {% endblock %}

</body>

</html>