
/* 底盘四T1班组 */
.C4T1red{
    position: absolute;
    background-color: red;
    border-radius: 50%;
    opacity: 0;
    width: 35px;
    height: 35px;
    left: 510px;
    top: 80px;
}

.C4T1yellow{
    position: absolute;
    background-color:yellow;
    border-radius: 50%;
    opacity: 0;
    width: 35px;
    height: 35px;
    left: 510px;
    top: 80px;
}

.C4T1grren{
    position: absolute;
    background-color:green;
    border-radius: 50%;
    opacity: 0.5;
    width: 35px;
    height: 35px;
    left: 510px;
    top: 80px;
}

/* 底盘四T2班组 */

.C4T2red{
    position: absolute;
    background-color: red;
    border-radius: 50%;
    opacity: 0;
    width: 35px;
    height: 35px;
    left: 610px;
    top: 80px;
}

.C4T2yellow{
    position: absolute;
    background-color:yellow;
    border-radius: 50%;
    opacity: 0;
    width: 35px;
    height: 35px;
    left: 610px;
    top: 80px;
}

.C4T2grren{
    position: absolute;
    background-color:green;
    border-radius: 50%;
    opacity: 0.5;
    width: 35px;
    height: 35px;
    left: 610px;
    top: 80px;
}

/* 底盘四T3班组 */

.C4T3red{
    position: absolute;
    background-color: red;
    border-radius: 50%;
    opacity: 0;
    width: 35px;
    height: 35px;
    left: 710px;
    top: 80px;
}

.C4T3yellow{
    position: absolute;
    background-color:yellow;
    border-radius: 50%;
    opacity: 0;
    width: 35px;
    height: 35px;
    left: 710px;
    top: 80px;
}

.C4T3grren{
    position: absolute;
    background-color:green;
    border-radius: 50%;
    opacity: 0.5;
    width: 35px;
    height: 35px;
    left: 710px;
    top: 80px;
}

/* 底盘四T4班组 */

.C4T4red{
    position: absolute;
    background-color: red;
    border-radius: 50%;
    opacity: 0;
    width: 35px;
    height: 35px;
    left: 810px;
    top: 80px;
}

.C4T4yellow{
    position: absolute;
    background-color:yellow;
    border-radius: 50%;
    opacity: 0;
    width: 35px;
    height: 35px;
    left: 810px;
    top: 80px;
}

.C4T4grren{
    position: absolute;
    background-color:green;
    border-radius: 50%;
    opacity: 0.5;
    width: 35px;
    height: 35px;
    left: 810px;
    top: 80px;
}

/* 底盘四T5班组 */

.C4T5red{
    position: absolute;
    background-color: red;
    border-radius: 50%;
    opacity: 0;
    width: 35px;
    height: 35px;
    left: 910px;
    top: 80px;
}

.C4T5yellow{
    position: absolute;
    background-color:yellow;
    border-radius: 50%;
    opacity: 0;
    width: 35px;
    height: 35px;
    left: 910px;
    top: 80px;
}

.C4T5grren{
    position: absolute;
    background-color:green;
    border-radius: 50%;
    opacity: 0.5;
    width: 35px;
    height: 35px;
    left: 910px;
    top: 80px;
}