<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>分层管理系统</title>
    <!-- <link type="text/css" rel="stylesheet" href="/static/layui/css/layui.css" media="all">-->
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="shortcut icon" href="/static/i.ico">
     <!-- <script src="/static/layui/layui.js"></script>  -->
    <script src="/static/vue.js"></script>
    <script src="/static/jquery.js"></script>

</head>

<body>

    <style>
        #lay {
            /* background-image: url('/static/images/bk.jpg');
            background-repeat: no-repeat;
            /* background-size: 100% 100%; */
            /* position: absolute;
            height: 722px;
            width: 1500px;
            left: 80px;
            top: 80px; */
            
        }

        body {
            width: 100%;
            height: 100%;
            background: url('/static/images/bk.png');
            background-repeat: no-repeat;
            
        }

        #select {
            position: absolute;
            left: 1150px;
        }
    </style>

    <div id="app">
        <div id='select'>
            日期:<input type="date" v-model='select_date' />
            班次:
            <select v-model='select_shift'>
                <option value="A">A班</option>
                <option value="B">B班</option>
            </select>


        </div>


        <div id='lay'>

        </div>
        <!-- 底盘四 -->

        <div v-for='i in status' :class="{C4T1red:(i.team=='T1' && i.worksection=='1C4' && i.team_status=='red'),
            C4T1yellow:(i.team=='T1' && i.worksection=='1C4' && i.team_status=='yellow'),
            C4T1grren:(i.team=='T1' && i.worksection=='1C4' && i.team_status=='green') }">
        </div>

        <div v-for='i in status' :class="{C4T2red:(i.team=='T2' && i.worksection=='1C4' && i.team_status=='red'),
        C4T2yellow:(i.team=='T2' && i.worksection=='1C4' && i.team_status=='yellow'),
        C4T2grren:(i.team=='T2' && i.worksection=='1C4' && i.team_status=='green') }">
        </div>

        <div v-for='i in status' :class="{C4T3red:(i.team=='T3' && i.worksection=='1C4' && i.team_status=='red'),
        C4T3yellow:(i.team=='T3' && i.worksection=='1C4' && i.team_status=='yellow'),
        C4T3grren:(i.team=='T3' && i.worksection=='1C4' && i.team_status=='green') }">
        </div>

        <div v-for='i in status' :class="{C4T4red:(i.team=='T4' && i.worksection=='1C4' && i.team_status=='red'),
        C4T4yellow:(i.team=='T4' && i.worksection=='1C4' && i.team_status=='yellow'),
        C4T4grren:(i.team=='T4' && i.worksection=='1C4' && i.team_status=='green') }">
        </div>

        <div v-for='i in status' :class="{C4T5red:(i.team=='T5' && i.worksection=='1C4' && i.team_status=='red'),
        C4T5yellow:(i.team=='T5' && i.worksection=='1C4' && i.team_status=='yellow'),
        C4T5grren:(i.team=='T5' && i.worksection=='1C4' && i.team_status=='green') }">
        </div>


    </div>

    </div>





    <script>
        $(document).ready(function () {

            var app = new Vue({
                el: '#app',
                data: {
                    status: '',
                    green: false,
                    display: 'true',
                    select_date: '',
                    select_shift: 'A',
                },
                created() {
                    var date = new Date();
                    var y = date.getFullYear();
                    var m = date.getMonth() + 1;
                    var d = date.getDate();

                    if (m < 10) {
                        m = "0" + m;
                    }
                    if (d < 10) {
                        d = "0" + d;
                    }
                    // var tt=date .toLocaleDateString(); //获取当前日期
                    var today = y + '-' + m + '-' + d;
                    this.select_date = today;

                    setInterval(function () {
                        $.ajax({
                            url: '/layout_res_api/',
                            data: {
                                select_date: app.select_date,
                                select_shift: app.select_shift,

                            },
                            dataType: 'json',
                            type: 'post',
                            success: function (res) {
                                console.log(res.res);
                                app.status = res.res;


                            },
                            error: function (xhr, type, errorThrown) {
                                console.log(type)
                            }


                        });
                    }, 5000)
                    setInterval(function () {
                        //left=200px(原始位置)-width/2
                        //top=200px(原始位置)-height/2
                        //内饰一T1班组

                        $(".T1T1").animate({
                            width: "40px",
                            height: "40px",
                            left: "1350px",
                            top: "345px",
                            opacity: 1

                        }, 500);
                        $(".T1T1").animate({
                            width: "12px",
                            height: "12px",
                            left: "1352.5px",
                            top: "350px",
                            opacity: 1,

                        }, 500);

                        //底盘四T1班组

                        $(".C4T1red").animate({
                            width: "40px",
                            height: "40px",
                            left: "510px",
                            top: "76px",
                            opacity: 1

                        }, 500);
                        $(".C4T1red").animate({
                            width: "12px",
                            height: "12px",
                            left: "524px",
                            top: "90px",
                            opacity: 1,

                        }, 500);

                        $(".C4T1yellow").animate({
                            width: "40px",
                            height: "40px",
                            left: "510px",
                            top: "76px",
                            opacity: 1

                        }, 500);
                        $(".C4T1yellow").animate({
                            width: "12px",
                            height: "12px",
                            left: "524px",
                            top: "90px",
                            opacity: 1,

                        }, 500);

                        //底盘四T2班组
                        $(".C4T2red").animate({
                            width: "40px",
                            height: "40px",
                            left: "610px",
                            top: "76px",
                            opacity: 1

                        }, 500);
                        $(".C4T2red").animate({
                            width: "12px",
                            height: "12px",
                            left: "624px",
                            top: "90px",
                            opacity: 1,

                        }, 500);

                        $(".C4T2yellow").animate({
                            width: "40px",
                            height: "40px",
                            left: "610px",
                            top: "76px",
                            opacity: 1

                        }, 500);
                        $(".C4T2yellow").animate({
                            width: "12px",
                            height: "12px",
                            left: "624px",
                            top: "90px",
                            opacity: 1,

                        }, 500);



                        //底盘四T3班组
                        $(".C4T3red").animate({
                            width: "40px",
                            height: "40px",
                            left: "710px",
                            top: "76px",
                            opacity: 1

                        }, 500);
                        $(".C4T3red").animate({
                            width: "12px",
                            height: "12px",
                            left: "724px",
                            top: "90px",
                            opacity: 1,

                        }, 500);

                        $(".C4T3yellow").animate({
                            width: "40px",
                            height: "40px",
                            left: "710px",
                            top: "76px",
                            opacity: 1

                        }, 500);
                        $(".C4T3yellow").animate({
                            width: "12px",
                            height: "12px",
                            left: "724px",
                            top: "90px",
                            opacity: 1,

                        }, 500);

                        // $(".C4T3grren").animate({
                        //     width: '35px',
                        //     height: '35px',
                        //     left: '710px',
                        //     top: '80px',
                        //     opacity: 1,
                        // }, 500);

                        //底盘四T4班组
                        $(".C4T4red").animate({
                            width: "40px",
                            height: "40px",
                            left: "810px",
                            top: "76px",
                            opacity: 1

                        }, 500);
                        $(".C4T4red").animate({
                            width: "12px",
                            height: "12px",
                            left: "824px",
                            top: "90px",
                            opacity: 1,

                        }, 500);

                        $(".C4T4yellow").animate({
                            width: "40px",
                            height: "40px",
                            left: "810px",
                            top: "76px",
                            opacity: 1

                        }, 500);
                        $(".C4T4yellow").animate({
                            width: "12px",
                            height: "12px",
                            left: "824px",
                            top: "90px",
                            opacity: 1,

                        }, 500);

                        //底盘四T5班组
                        $(".C4T5red").animate({
                            width: "40px",
                            height: "40px",
                            left: "910px",
                            top: "76px",
                            opacity: 1

                        }, 500);
                        $(".C4T5red").animate({
                            width: "12px",
                            height: "12px",
                            left: "924px",
                            top: "90px",
                            opacity: 1,

                        }, 500);

                        $(".C4T5yellow").animate({
                            width: "40px",
                            height: "40px",
                            left: "910px",
                            top: "76px",
                            opacity: 1

                        }, 500);
                        $(".C4T5yellow").animate({
                            width: "12px",
                            height: "12px",
                            left: "924px",
                            top: "90px",
                            opacity: 1,

                        }, 500);




                    }, 1000);

                },

            })
        });
    </script>





</body>

</html>